body {background-color: yellow;}
a {@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    font-family: 'Pacifico', cursive;
    line-height: 22px;
    color: blueviolet; 
    font-size: 25px; 
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 25px;
    border: 2px solid gray ;
    background-color: white;
    border-radius: 25px;
    text-align: center;}
h1 {text-align: center; background-color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 40px;}
h3{font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px; text-shadow: 3px 3px 3px grey;}
#tapa {position: absolute;
    top: 150px;
    right: 30px;}
#contratapa {position: absolute;
    top: 800px;
    right: 30px;}
#foto {position: absolute;
    top: 150px;
    right: 500px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
text-align: center;
font-weight: bold;
color: gray;}
    #video {position: absolute;
        top: 2050px;
        left: 30px;}
    #mapa {
        position: absolute;
        top: 2050px;
        left: 450px;
    }

    #subir{
        position: absolute;
        top: 2300px;
        right: 100px;
    }
   