body{background-color: khaki;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h3{
    background-color: white;
 
    text-align: center;
 
    
}
p{font-weight: bold;font-style: italic; font-size: 18px;}

.dato{
    margin: 15px;
}
form{
    background-color: yellow;
    box-shadow: 3px 3px 5px grey;
    width: 80%;
    padding: 20px;
   
}
#dni{
    margin-left: 15px;
}
#submit{
        margin: 10px;
    text-align: center;
}
input[type="submit"]{
    height: 35px;
    width: 70px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 3px 3px 5px black;
}
